{% extends 'base.html' %}

{% block title %}Giỏ hàng{% endblock %}
{% block content %}
{% load cart %}
{% load custom_filter %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/custom/cart.css' %}">
<div class="px-4 px-lg-0">

  <div class="pb-5 cart-data">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

          <!-- Shopping cart table -->
          {% if products %}
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Sản phẩm</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Đơn giá</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase"></div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Số lượng</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Số tiền</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Thao tác</div>
                  </th>
                </tr>
              </thead>
              {% for item in products %}
              <tbody>
                
                
                <tr class='product_data'>
                  <th scope="row" class="border-0">
                    <div class="p-2">
                      <img src="{{item.product.image.url}}" alt="" width="70" class="img-fluid rounded shadow-sm">
                      <div class="ml-3 d-inline-block align-middle">
                        <h5 class="mb-0"> <a href="#"
                            class="text-dark d-inline-block align-middle">{{item.product.name}}</a></h5><span
                          class="text-muted font-weight-normal font-italic d-block">Loại hàng:
                          {{item.product.category}}</span>
                      </div>
                    </div>
                  </th>
                  <td class="border-0 align-middle"><strong>{{item.product.sale_price|currency}}</strong></td>
                  <td class="border-0 align-middle"><strong></strong></td>
                  <td class="border-0 align-middle">
                    <div class="input-group mb-3 " style="width: 170px;">
                      {% csrf_token %}
                      <input type="hidden" value="{{ item.product.id }}" class="prod_id">
                      <input type="hidden" value="{{ item.product.stock }}" id="product_avail">
                      <button class="btn btn-white border border-secondary px-3 changeQuantity decrement-btn" type="button"
                        id="" data-mdb-ripple-color="dark">
                        <i class="fa-solid fa-minus"></i>
                      </button>
                      <input type="text" class="form-control text-center border border-secondary" id="qty-input"
                        value="{{item.product_qty}}">
                      <button class="btn btn-white border border-secondary px-3 changeQuantity increment-btn" type="button"
                        id="" data-mdb-ripple-color="dark">
                        <i class="fa-solid fa-plus"></i>
                      </button>
                    </div>
                  </td>
                  <td><strong ><p class='sub_total'>{{item.sub_total|currency}}</p></strong></td>
                  <td class="border-0 align-middle">
                    <button type="button" class="btn btn-danger remove-btn"><i class="fa fa-trash"></i></button>
                    
                  </td>
                </tr>
                
              </tbody>
              {% endfor %}

            </table>
          </div>
          {% else %}
          <div class="container py-5 text-center">
            <h1 class="display-4">Giỏ hàng của bạn trống</h1>
            <p class="lead mb-0">Tiếp tục mua sắm và quay lại đây để thanh toán bạn nhé</p>
          </div>
          {% endif %}
          <!-- End -->
        </div>
      </div>

      <div class="row py-5 p-4 bg-white rounded shadow-sm">
        
        <div class="col-lg-12">
          <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Thông tin đơn hàng</div>
          <div class="p-4">
            <ul class="list-unstyled mb-4">
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Tạm tính
                </strong><strong>{{total|currency}}</strong></li>
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Phí vận chuyển</strong><strong></strong></li>
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Tổng thanh toán</strong>
                <h5 class="font-weight-bold total">{{total|currency}}</h5>
              </li>
            </ul><a href="{% url 'checkout' %}" class="btn btn-dark rounded-pill py-2 btn-block">Mua Ngay</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock content %}

{% block javascript %}
<script type="text/javascript">
  $(document).ready(function() {
    $(document).on('click', '.increment-btn', function(e) {
      e.preventDefault();

      var inc_value = $(this).closest('.product_data').find('#qty-input').val();
      var product_avail = $(this).closest('.product_data').find('#product_avail').val();
      var value = parseInt(inc_value, 10);
      value = isNaN(value) ? 0 : value;
      if (value < product_avail) {
        value++;
        $(this).closest('.product_data').find('#qty-input').val(value);
      }

      var product_qty = $(this).closest('.product_data').find('#qty-input').val();     
    });

    $(document).on('click', '.decrement-btn', function(e) {
      e.preventDefault();

      var dec_value = $(this).closest('.product_data').find('#qty-input').val();
      var value = parseInt(dec_value, 10);
      value = isNaN(value) ? 0 : value;
      if (value > 1) {
        value--;
        $(this).closest('.product_data').find('#qty-input').val(value);
      }
    });

    $(document).on('click', '.changeQuantity', function(e){
      e.preventDefault();

      var product_id = $(this).closest('.product_data').find('.prod_id').val();
      var product_qty = $(this).closest('.product_data').find('#qty-input').val();
      var token = $('input[name=csrfmiddlewaretoken]').val();

      $.ajax({
        method: 'POST',
        url: "{% url 'cart' %}",
        data: {
          'product_id': product_id,
          'product_qty': product_qty,
          'update-cart' : 1,
          csrfmiddlewaretoken: token
        },
        success: function(response){
          //alertify.success(response.status);
          if(response.flag == 1){
            alertify.error('Đã đạt số lượng tối đa')
          }
          $('.cart-data').load(location.href + ' .cart-data')
          

        },
        error: function(){
          alertify.error('Có lỗi xảy ra!')
        }
      })
    });
    
    $(document).on('click','.remove-btn', function(e){
      e.preventDefault();

      var product_id = $(this).closest('.product_data').find('.prod_id').val();
      var token = $('input[name=csrfmiddlewaretoken]').val();

      $.ajax({
        method: 'POST',
        url: "{% url 'cart' %}",
        data: {
          'product_id': product_id,
          'remove-item' : 1,
          csrfmiddlewaretoken: token
        },
        success: function(response){
          alertify.success(response.status);
          $('.cart-data').load(location.href + ' .cart-data')
        },
        error: function(){
          alertify.error('Có lỗi xảy ra!')
        }
      })

    })

  });


</script>

{% endblock javascript %}