{% extends 'base.html' %}
{% load static %}
{% block title %}Quên mật khẩu{% endblock %}
{% block content %}
<style>
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('{% static "/image/organiktarim-1162x700.jpg" %}');
  background-size: cover;
  background-position: center center;
}
</style>
<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image image"></div>


        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class=" d-flex align-items-center py-5 login">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto ">
                            <h4 class="display-4">Nhập Email của bạn</h4>
                            <br>
                            <form id="submitEmail">
                                {% csrf_token %}
                                <div class="form-group mb-3">
                                    <input id="email" type="email" placeholder="Địa chỉ email" required="required"
                                        autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <button type="submit"
                                    class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Xác nhận
                                </button>
                               
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

{% endblock content %}

{% block javascript %}
<script type="text/javascript">
    $(document).on('submit', '#submitEmail', function (e) {
        e.preventDefault();

        $.ajax({
            method: 'POST',
            url: "{% url 'sendEmailReset' %}",
            data: {
                email: $('#email').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
                    alertify.success(data);
            },
            error: function (data) {
                alertify.error(data)
            }
        });
    });
</script>
{% endblock javascript %}