{% extends 'base.html' %}
{% block title %}OrganiX{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/custom/index.css' %}">
<div class="container">
	<div class="row">
		<div class="col-lg-12 mx-auto">
			<!-- FIRST EXAMPLE ===================================-->
			<div class="row py-5">
				{% for category in categories %}
				<div class="imageselect row add-clearfix image-imagebox">
					<div class="col-sm-11">
						<article class="imagebox">
							<figure> <a href="{% url 'product' category.slug %}"><img src="{{category.image.url}}" alt="" width="285px" height="300px"></a>
								<figcaption>
									<h2 class="caption-title text-center">{{category.name}}</h2>
								</figcaption>
							</figure>
						</article>
					</div>
				</div>
				{% endfor %}
			</div>			
		</div>
	</div>
</div>

{% endblock content %}

{% block javascript %}
<script type="text/javascript">

</script>
{% endblock javascript %}