<style>
    .dropdown-menu {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    }

    .dropdown-menu>li>a{
        font-size: 1.2em;
        font-weight: 400;
    }

    .dropdown-menu>li>a:hover{
        text-shadow: 3px;
    }

    .search-bar{
        width: 20% !important;
        margin-left: 45%;
    }

    #ui-id-1{
        padding-top: 1.5%;
    }

    

    
</style>

{% comment %} <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/"><h2 class="text">OrganiX</h2></a>
        <div class="search-bar">
            <form action="{% url 'search' %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" id="searchproducts" name="product-searched" placeholder="Tìm sản phẩm">
                    <button type="submit" class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class=" navbar-nav ms-auto">

                {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="/cart"><i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a id="dropdownMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle active">{{request.user.name}}</a>
                    <ul aria-labelledby="dropdownMenu1" class="dropdown-menu border-0">
                        <li><a href="{% url 'profile' %}" class="dropdown-item nav-link"><i class="fa-solid fa-user fa-xs"></i> <span>Tài khoản của tôi</span></a></li>
                        <li><a href="{% url 'orders' %}" class="dropdown-item nav-link"><i class="fa-solid fa-file-invoice fa-xs"></i> <span>Đơn mua</span></a></li>
                        <li><a href="{% url 'logout' %}" class="dropdown-item nav-link"><i class="fa-sharp fa-solid fa-right-from-bracket fa-xs"></i> <span>Đăng xuất</span></a></li>
                        <!-- End Level two -->
                    </ul>
                </li>

                {% else %}

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login' %}"><i class="fa-solid fa-right-to-bracket"></i> <span>Đăng nhập</span><span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'signup' %}"><i class="fa-solid fa-user-plus"></i> <span>Đăng ký</span><span class="sr-only"></span></a>
                </li>

                {% endif %}

            </ul>
        </div>
    </div>
</nav> {% endcomment %}
<style>
.autoComplete_wrapper > input {
  width: 72vw;
}
.autoComplete_wrapper>ul>li mark {
    background-color: transparent;
    color: #87d883;
    font-weight: 700
}

nav {
    padding-bottom: 10vw;
}
</style>
<!-- Navbar start -->
        <div class="container-fluid fixed-top">
            <div class="container topbar bg-primary d-none d-lg-block">
                <div class="d-flex justify-content-between">
                    <div class="top-info ps-2">
                        <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a class="text-white">Gia Lâm, Hà Nội</a></small>
                        <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a class="text-white">organix@gmail.com</a></small>
                    </div>
                    <div class="top-link pe-2">
                        <a href="#" class="text-white"><small class="text-white mx-2">Chính sách bảo mật</small>/</a>
                        <a href="#" class="text-white"><small class="text-white mx-2">Điều khoản sử dụng</small>/</a>
                        <a href="#" class="text-white"><small class="text-white ms-2">Mua hàng và hoàn tiền</small></a>
                    </div>
                </div>
            </div>
            <div class="container px-0">
                <nav class="navbar navbar-light bg-white navbar-expand-xl">
                    <a href="/" class="navbar-brand"><h1 class="text-primary display-6">Organix</h1></a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                            <a href="index.html" class="nav-item nav-link active">Trang chủ</a>
                            <a href="{% url 'products' 'all' %}" class="nav-item nav-link">Sản phẩm</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                                <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                    <a href="cart.html" class="dropdown-item">Cart</a>
                                    <a href="chackout.html" class="dropdown-item">Chackout</a>
                                    <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                                    <a href="404.html" class="dropdown-item">404 Page</a>
                                </div>
                            </div>
                            <a href="contact.html" class="nav-item nav-link">Contact</a>
                        </div>
                        <div class="d-flex m-3 me-0">
                            <button class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search text-primary"></i></button>
                            {% if user.is_authenticated %}
                            <a href="{% url 'cart' %}" class="position-relative me-4 my-auto">
                                <i class="fa fa-shopping-bag fa-2x"></i>
                                <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px;">{{ cart_item_count }}</span>
                            </a>
                            {% comment %} <a href="{% url 'profile' %}" class="my-auto">
                                <i class="fas fa-user fa-2x"></i>
                            </a> {% endcomment %}
                            <li class="nav-item dropdown">
                                <button id="dropdownMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                class="dropdown-toggle my-auto">{{request.user.name}}</button>
                                <ul aria-labelledby="dropdownMenu1" class="dropdown-menu border-0">
                                    <li><a href="{% url 'profile' %}" class="dropdown-item nav-link"><i class="fas fa-user fa-xs"></i> <span> Tài khoản của tôi </span></a></li>
                                    <li><a href="{% url 'orders' %}" class="dropdown-item nav-link"><i class="fas fa-file-invoice fa-xs"></i> <span> Đơn mua </span></a></li>
                                    <li><a href="{% url 'logout' %}" class="dropdown-item nav-link"><i class="fas fa-solid fa-power-off fa-xs"></i><span> Đăng xuất </span></a></li>
                                    <!-- End Level two -->
                                </ul>
                            </li>
                            {% else %}
                            <a href="{% url 'login' %}" class="position-relative me-4 my-auto">
                                <i class="fa fa-sign-in-alt fa-2x"></i>
                                <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px;">3</span>
                            </a>
                            <a href="{% url 'signup' %}" class="my-auto">
                                <i class="fas fa-user-plus fa-2x"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </div>
        </div>
<!-- Navbar End -->

<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tìm kiếm bằng từ khóa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <div class="input-group w-75 mx-auto d-flex">
                    <form action="{% url 'search' %}" method="POST" autocomplete="on">
                        {% csrf_token %}
                        <div class="input-group">
                            {% comment %} <input type="text" id="autoComplete" class="form-control p-3" aria-describedby="search-icon-1"> {% endcomment %}
                            <input id="autoComplete" type="search" name="product-searched" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->
