<style>
    nav {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    }
    
    .navbar {
        font-size: 1.2em;
        font-weight: 400;
    }

    .navbar-brand {
        font-size: 1.5em;
        font-family:'Times New Roman', Times, serif;
        font-style: italic;
    }

    .dropdown-menu {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    }

    .dropdown-menu>li>a{
        font-size: 1.2em;
        font-weight: 400;
    }

    .dropdown-menu>li>a:hover{
        text-shadow: 3px;
    }

    .search-bar{
        width: 20% !important;
        margin-left: 45%;
    }

    #ui-id-1{
        padding-top: 1.5%;
    }

    

    
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/"><h2 class="text">OrganiX</h2></a>
        <div class="search-bar">
            <form action="{% url 'search' %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" id="searchproducts" name="product-searched" placeholder="Tìm sản phẩm">
                    <button type="submit" class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class=" navbar-nav ms-auto">

                {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="/cart"><i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a id="dropdownMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle active">{{request.user.name}}</a>
                    <ul aria-labelledby="dropdownMenu1" class="dropdown-menu border-0">
                        <li><a href="{% url 'profile' %}" class="dropdown-item nav-link"><i class="fa-solid fa-user fa-xs"></i> <span>Tài khoản của tôi</span></a></li>
                        <li><a href="{% url 'orders' %}" class="dropdown-item nav-link"><i class="fa-solid fa-file-invoice fa-xs"></i> <span>Đơn mua</span></a></li>
                        <li><a href="{% url 'logout' %}" class="dropdown-item nav-link"><i class="fa-sharp fa-solid fa-right-from-bracket fa-xs"></i> <span>Đăng xuất</span></a></li>
                        <!-- End Level two -->
                    </ul>
                </li>

                {% else %}

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login' %}"><i class="fa-solid fa-right-to-bracket"></i> <span>Đăng nhập</span><span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'signup' %}"><i class="fa-solid fa-user-plus"></i> <span>Đăng ký</span><span class="sr-only"></span></a>
                </li>

                {% endif %}

            </ul>
        </div>
    </div>
</nav>
