{% extends 'base.html' %}
{% block title %}Đặt lại mật khẩu{% endblock %}
{% load static %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">
    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4 text-center">Đặt lại mật khẩu</h4>
            <form id="reset_password">
                {% csrf_token %}
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Mật khẩu mới" id="password" required>
                </div> <!-- form-group// -->
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Xác nhận mật khẩu" id="confirm_password"
                        required>
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Xác nhận </button>
                </div> <!-- form-group// -->
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->
    <br><br>

</section>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).on('submit', '#reset_password', function (e) {
        e.preventDefault();

        $.ajax({
            method: 'POST',
            url: "{% url 'reset_password' %}",
            data: {
                password: $('#password').val(),
                confirm_password: $('#confirm_password').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
                if (data.status == true) {
                    alertify.success(data.msg);
                    setTimeout(function () {
                        window.location.replace("{% url 'login' %}")
                    }, 2000);
                }
                else{
                    alertify.error(data)
                }

            },
            error: function (data) {
                alertify.error(data)
            }
        });
    });
</script>
{% endblock javascript %}